/test/tests/temp
*.profile
*.exe
*.exe.recipe
*.idb
*.ilk
*.log
*.obj
*.tlog
*.pdb
*.vcxproj.user
.vs/
.vscode*
*buildsystem/
.jaba/
tools/release_temp
tools/doc_temp
examples/14-code_generation/generated